RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteCond %{THE_REQUEST} ^GET\ /+booking\?date=([^&\s]+)&hotel_id=([^&\s]+)&nights=([^&\s]+)&adults=([^&\s]+)
RewriteRule ^ /ru/booking?date=%1&hotel_id=%2&nights=%3&adults=%4 [R=302]

RewriteCond %{THE_REQUEST} ^GET\ /+booking\?hotel_id=([^&\s]+)
RewriteRule ^ /ru/booking?hotel_id=%1 [R=302]

RewriteRule ^([a-z]{2})/.* index.php?lang=$1 [QSA]