.flag {
	width: 25px;
	height: 15px;
	background:url(../img/flags.png) no-repeat
}

.flag.flag-cn {background-position: -25px 0}
.flag.flag-ru {background-position: 0 -15px}
.flag.flag-us {background-position: -25px -15px}
