{% extends '/front/index.html.twig' %}
{% block content %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header">
                        <h1>{{ titles.attraction }}</h1>
                    </div>
                </div>
                {% for value in attraction %}
                <div class="col-md-12">
                    <div class="info-block">
                        <div class="info-title"><a href="?id={{ value.id }}">{{ value.title }}</a></div>
                            {#<a href="?id={{ value.id }}">{% if lang.type == "ru" %}Читать полностью{% elseif lang.type == "us" %}Read more{% elseif lang.type == "cn" %}閱讀更多{% else %}Читать полностью{% endif %}<a/>#}
                        <div style="clear: both;"></div>
                    </div>
                </div>
                {% endfor %}
        </div>
    </section>
{% endblock %}