{% extends '/front/index.html.twig' %}
{% block content %}
    <section>
        <div class="container">
            {% for value in attraction %}
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header">
                        <h1><a href="/attraction">{{ titles.attraction }}</a> / {{ value.title }}</h1>
                    </div>
                    {{ value.text|raw }}
                </div>
            </div>
                {% endfor %}
    </section>
{% endblock %}